.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  .left,
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    height: 100%;
  }
}

.launchImage {
  height: 420px;
  width: 100%;
  position: relative;
  animation: zoom-image 5s infinite;
}

@keyframes zoom-image {
  0% {
    scale: 0.9;
    rotate: 0deg;
  }
  50% {
    scale: 1.1;
    rotate: -5deg;
  }
  100% {
    scale: 0.9;
    rotate: 0deg;
  }
}

.footer {
  padding: 16px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
  }

  .left,
  .right {
    padding: 16px !important;
  }

  .launchImage {
    height: 300px;
  }
}
